@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Chango&family=Coiny&family=Fredoka+One&family=Mogra&family=Poppins:wght@200;400;500;700&family=Titan+One&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	font-family: 'Poppins', sans-serif;
	height: 100%;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: inherit;
}
